body {
    background-color: #000c11;
    }
 
    .btn{
        background-color: transparent;
        cursor: pointer;
        font-size: large;
        color: rgb(241, 238, 231);  
        font-size: 35px;
        border: none;
      }

.container{

    display: flex;
    justify-content: center;
}

.btn:hover{
    color: rgb(59, 251, 0);
}

.playing{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: poppins;
    font-weight: 500;
}